---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Swinburne Leadership Hub" description="">
	<!-- Hero -->
	<main class="max-w-5xl mx-auto grid sm:grid-cols-2 space-y-12 px-6">
		<div class="col-span-1 flex items-center justify-center">
			<h2 class="text-3xl font-bold">
				<span class="text-[#8194FF]">Welcome, to the</span><br />
				<span class="text-[#37009D]">Swinburne Leadership Hub</span>
			</h2>
		</div>
		<div class="col-span-1 grid">
			<img
				src="/circles.svg"
				alt="Circles"
				class="h-64 sm:h-96 w-auto mx-auto"
			/>
		</div>
	</main>

	<!-- Links -->
	<div class="mt-20 grid sm:grid-cols-2 gap-6 max-w-5xl mx-auto px-6">
		<div
			class="col-span-1 h-64 flex justify-center items-center bg-[#FFFFFF] rounded-3xl"
		>
			<a href="#" class="text-3xl text-center font-bold text-[#001E71]"
				>About the Hub</a
			>
		</div>
		<div
			class="col-span-1 h-64 flex justify-center items-center bg-[#8194FF] rounded-3xl"
		>
			<a href="#" class="text-3xl text-center font-bold text-[#001E71]"
				>Projects</a
			>
		</div>
		<div
			class="col-span-1 h-64 flex justify-center items-center bg-[#FFE2E2] rounded-3xl"
		>
			<a href="#" class="text-3xl text-center font-bold text-[#001E71]"
				>Hub Events</a
			>
		</div>
		<div
			class="col-span-1 h-64 flex justify-center items-center bg-[#37009D] rounded-3xl"
		>
			<a href="#" class="text-3xl text-center font-bold text-[#FFE2E2]"
				>Resources &amp; Opportunities</a
			>
		</div>

		<div
			class="sm:col-span-2 h-64 sm:h-auto flex justify-center items-center text-center bg-[#FFD188] rounded-3xl py-6"
		>
			<a href="#" class="text-3xl font-bold text-[#001E71]"
				>Join the Hub Community</a
			>
		</div>
	</div>
</Layout>
