<div class="bg-[#001E71] py-6 mt-6">
    <!-- Mobile -->
    <div class="px-4 grid gap-y-6 sm:hidden">
        <!-- Branding -->
        <img
            src="/icon-light.png"
            alt="Swinburne Leadership Hub icon"
            class="h-8 w-auto"
        />

        <!-- Links -->
        <nav>
            <ul class="text-[#FFE2E2] font-medium space-y-2 text-sm">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Join</a></li>
            </ul>
        </nav>

        <!-- Acknowledgement of Country -->
        <p class="text-xs text-white">
            We acknowledge the traditional custodians of the land on which we
            work, play, build, and tinker, and we pay our respects to their
            Elders: past, present and emerging.
        </p>
        <ul class="mt-1 justify-center text-xs text-white space-y-3">
            <li><a href="#">Website Feedback.</a></li>
            <li><a href="#">Privacy Policy.</a></li>
            <li><a href="#">Terms and Conditions.</a></li>
        </ul>
        <p class="text-xs text-white">&copy; 2022 Swinburne Leadership Hub.</p>
    </div>

    <!-- Large -->
    <div
        class="hidden sm:flex h-64 max-w-5xl mx-auto px-4 flex-col justify-between h-full"
    >
        <div></div>

        <div class="flex items-center justify-between px-4">
            <img
                src="/icon-light.png"
                alt="Swinburne Leadership Hub icon"
                class="h-16 w-auto"
            />

            <nav>
                <ul
                    class="text-[#FFE2E2] font-medium flex space-x-4 md:space-x-6"
                >
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Join</a></li>
                </ul>
            </nav>
        </div>

        <div class="text-xs text-white text-center">
            <p>
                We acknowledge the traditional custodians of the land on which
                we work, play, build, and tinker, and we pay our respects to
                their Elders: past, present and emerging.
            </p>
            <ul class="mt-1 flex space-x-3 justify-center">
                <li>&copy; 2022 Swinburne Leadership Hub.</li>
                <li>Website Feedback.</li>
                <li>Privacy Policy.</li>
                <li>Terms and Conditions.</li>
            </ul>
        </div>
    </div>
</div>
